<!DOCTYPE html>
<html>
<head>
	<title>Amazon Login</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">

	

</head>
<body>

	<div class="container">
		<div class="img">
			<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
				<h2 class="title">¡Bienvenido!</h2>
				
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
				
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
				   
				   </div>
				   
            	<a href="#">¿Olvidaste tu Contraseña?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>
</html>
