{% extends "layout.html"%} 

{%block heading}
  <meta charset="UTF-8">
  <title>amazon principal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
{% endblock%}

{% block body%}
  <!-- CABECERA -->
  <header class="header">
    <div class="header__container">
      <div class="container">
        <div class="logo">
					<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}" class="logo" width="100" />
        </div>
			  <form action="#">
			<input type="search" class="buscarInput " name="buscarInput" id="buscarInput" value=""
			placeholder="¿Que estas buscando?">
		</form>
		
		<div class="logo-carrito">
			<img src="{{ url_for('static', filename='IMAGE/cart.jpeg') }}" class="logo" width="60" />
        </div>
		
       
      </div>
    </div>
  </header>

  <!-- PANTALLA PRINCIPAL -->

	<!-- BARRA LATERAL  -->
	<div class="principal">
		<div class="barra-lateral">
			<h2>AMAZON</h2>
			<ul>
			
				<li>Menu<li>Perfil<li>Tendencias<li>Carrito de compras<li>Medio de pago<li>Ayuda<li>Redes Sociales<li>
				
			</ul> 

		</div>	
		
		
		<div class="visualizacion">	
		 <!-- PRODUCTOS  -->
			<div class="movimiento">
		
				<section class="child">	
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/zapatos.jpeg') }}" class="p1" width="60%" />
					</div>
					<div class="descripcionp">
						<h3> Convers all star </h3><br>
						<h3> Precio: 50 </h3>
						
					</div>
				</section>
				
				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/polo.jpeg') }}" class="p2" width="60%" />
					</div>
					<div class="descripcionp">
						<h3> Polo  </h3><br>
						<h3> Precio: 80 </h3>
						
					</div>
				</section>
				
				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/pantalon.jpeg') }}" class="p3" width="40%" />
					</div>
					<div class="descripcionp">
						<h3> Pantalon </h3><br>
						<h3> Precio: 90 </h3>
						
					</div>
				</section>
				
				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/laptop.jpeg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Computadora </h2><br>
						<h3> Precio: s/.6000 </h3>
						
					</div>
				</section>

				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/iphone.png') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Celular </h2><br>
						<h3> Precio: s/.4000</h3>
						
					</div>
				</section>
				
				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/peluche.jpg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Peluche De Jueguete </h2><br>
						<h3> Precio: s/.50 </h3>
						
					</div>
				</section>


				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/PS5.jpg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> PlayStation 5 </h2><br>
						<h3> Precio: s/.3000 </h3>
						
					</div>
				</section>


				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/pantalla.jpeg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Monitor Gaming </h2><br>
						<h3> Precio: s/.2500 </h3>
						
					</div>
				</section>
				
				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/television.jpeg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Television </h2><br>
						<h3> Precio: s/.4000 </h3>
						
					</div>
				</section>

				<section class="child">
					<div class="imgenp">
						<img src="{{ url_for('static', filename='IMAGE/wisky.jpg') }}" class="p3" width="50%" />
					</div>
					<div class="descripcionp">
						<h2> Whisky etiqueta Azul </h2><br>
						<h3> Precio: s/.1500 </h3>
						
					</div>
				</section>
			
			</div>
		 
		</div>
		

    </div>

<!-- BARRA DE ABAJO  -->
  <div class="barra">
    <div class="icono icono1">
      <p>+20,000 Artículo <br>
        Descubre los más vendidos</p>
    </div>
    <div class="icono icono2">
      <p> Compras online rapidas <br>
    </div>
    <div class="icono icono3">
      <p>Busca lo que necesites <br>
        Todo lo encotraras aquí</p>
    </div>
  </div>

  <!-- ACERCA DE  -->

  <h1 class="font-bold text-3xl">ACERCA DE NOSTROS</h1>
  <div id="listaCursos" class="cards__contenedor">
    <!-- Cursos -->
  </div>

  <!-- FOOTER -->
  <footer id="footer" class="footer">
    <hr>
    <div class="footer__container">
      <div class="footer__primer--columna">
        <nav class="menu">
          <a class="enlace" href="#">Categorías más vistas</a>
          <a class="enlace" href="#">Marcas populares</a>
          <a class="enlace" href="#">Productos destacados</a>
        </nav>
      </div>
      <div class="footer__segunda--columna">
        <nav class="menu">
          <a class="enlace" href="#">¿Quienes Somos?</a>
          <a class="enlace" href="#">Ayuda</a>
          <a class="enlace" href="#">Términos y condiciones</a>
        </nav>
      </div>
      <div class="footer__tercera--columna">
        <nav class="menu">
          <a class="enlace" href="#">Contacto</a>
          <a class="enlace" href="#">Siguemos en redes sociales</a>
          <a class="enlace" href="#">Atencion telefonica 956236565656</a>
        </nav>
      </div>
    </div>
  </footer>



{%endblock%}



