<!DOCTYPE html>
<html>
<head>
	<title>Amazon Login</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='Register.css') }}">


</head>
<body>

	<div class="container">
		
		<div class="login-content">
			<form action="index.html">
				<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
				<h2 class="title">Regístrate</h2>
				
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
				
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
				   
				   </div>
				   
				<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Confirmar Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
				   
				   </div>
				   
            	<input type="submit" class="btn" value="Register">
            </form>
        </div>
		
		<div class="img">
			<img src="{{ url_for('static', filename='IMAGE/logo1.png') }}">
		</div>
		
    </div>
</body>
</html>
